@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Shadows Into Light", cursive;
  color: #fff;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #191a19;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  margin: 3rem;
  min-height: 90vh;
}

h2 {
  padding: 2rem 0;
  font-size: 4rem;
}

h2 span {
  color: hotpink;
}

p#result {
  color: hotpink;
  font-size: 3rem;
}

button {
  background-color: #000;
  color: #fff;
  padding: 0.6rem;
  border-radius: 3px;
  width: 16rem;
  border-color: #000;
  font-size: 1.5rem;
}

button:hover {
  background-color: #191919;
  cursor: pointer;
}

.h2-label {
  font-size: 1.8rem;
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 2rem 0;
  width: 18rem;
  max-width: 258px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.5rem;
  background-color: #191a19;
}

/* button #show-btn {
  background: var(--primary-color);
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
  width: 15rem;
} */

#result {
  font-size: x-large;
  margin: 2rem 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: large;
  text-align: center;
}

.footer-list {
  margin: 1rem;
}

a,
img,
li {
  display: inline;
}

img {
  width: 40px;
  padding: 0.2rem;
}
